html,body{
    /*去除掉到浏览器边界的空档*/
    margin: 0px;
    padding: 0px;
    font-size:62.5%;/*设置默认字体大小为10px*/
}
body{
    width:100%;
    /*height: 0;*/
    /*padding-bottom: 171.52%; !* 1235/720=171.52% *!*/
}
header{
    position: fixed;
    width: 100%;
    background-color: #5fc0cd;
}
/* 返回键 */
header img{
    position: absolute;
    width: 1.2rem;
    left:1rem;
    top:1rem;
}
/* 个人主页 */
header span{
    text-align: center;
    display:block;
    line-height: 4rem;
    font-size: 1.7rem;
    color: #f8f8f8;
}
footer{
    position: fixed;
    bottom:1.5rem;
    width: 100%;
    /*background-color: aqua;*/
    /*text-align: center;*/
}
.btn{
    width: 43.05vw; /* 14rem */
    height: 3.8rem;
    border: 2px solid #5fc0cd;
    outline: none;/* 去掉点击按钮后出现的边框 */
    background-color: #ffffff;
    border-radius: 0.5rem;

}
.message_btn{
    float: left;
    margin-left: 14px;
    margin-right: 12px;
    color: #5fc0cd;
}
.contact_btn{
    float: right;
    margin-right: 14px;
    /*margin-left: 1rem;*/
    background-color: #5fc0cd;
    color: #ffffff;
}
main{
    padding-top: 4rem;
    width: 100%;
    /*overflow-y:auto;!* 垂直滚动 *!*/
}
.main_content{
    /*border:solid;*/
    width: 100%;
    padding-bottom: 8rem;
}
.up_content{
    /*border:solid;*/
    background-image: url(images/up_bg_img.png);
    background-size: cover;/* 背景自动拉伸 */
    width: 100%;
    height: 0; /* 327/720=45.41% */
    padding-bottom: 16rem;
}
.head_icon img{
    /*border: solid;*/
    width: 8.2rem; /* 169/720=23.47% */
    margin-left: 2rem;
    margin-top: 4rem;
}
.name_addr{
    /*border:solid;*/
    margin-left: 12.9rem;
    margin-top: -6.5rem;
    color: #ffffff;
}
.name_age{
    /*border:solid;*/
}
.name{
    font-size:1.6rem;
}
.age{
    font-size:1.4rem;
    margin-left: 1rem;
}
.addr{
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
}
.coordinate{
    margin-left: 2.3rem;
    margin-top: -1.9rem;
    font-size: 1rem;
}
.addr img{
    /*border:solid;*/
    width: 1.3rem;
}
.center_content{
    border-bottom:1px solid #e1e5e7;
    border-top: 1px solid #e1e5e7;
    height:5rem;
}

.professional_skills{
    display: inline-block;
    margin-left: 1rem;
    /* margin-top: -3rem; */
    font-size: 2rem;
    padding: 1rem;
}
.professional_skills span{
    padding-left: 1.6rem;
    margin-left: 1rem;
    display: inline-block;
    border-left: 3px solid #5fc0cd;
}
ul{
    margin:0;
    padding:0;
}
li{
    /*border:solid;*/
    list-style:none; /* 去掉左侧小圆点 */
    min-height: 5rem;/* 最小高度 */
    margin-right:3rem;
    margin-left:3rem;
}
.form_label{
    font-size: 1.5rem;
    /* 垂直居中 */
    display:table-cell;
    vertical-align:middle;
    height:5rem;

}
.form_tag{
    background-image: url(images/star.png);
    background-repeat: no-repeat;
    background-position: left;/* star图像的起始放置位置 */
    background-size: 1.4rem;/* 背景图尺寸 */
}
.form_tag span{
    font-size: 1.5rem;
    margin-left: 2rem;
}
.minbar{
    padding-right: 0.5rem;
    padding-left: 0.5rem;

}
ul{
    margin-left: 1.7rem;
}
.form_4{
    width: 6rem;
    color: #b3b3b3;
}
.intro_info{
    padding-right: 1.5rem;
}
.price{
    color: red;
}
/*!*媒体查询*!*/
/*@media screen and (min-width: 320px) and (max-width: 360px) {}*/

